numpy
pandas
geopandas
rasterio
xarray
requests
scikit-learn
pyproj
tqdm
pmtiles
mercantile
rio-tiler
rasterstats
shapely
pyarrow
joblib
openmeteo-requests
requests-cache
retry-requests
folium
matplotlib
entsoe-py
cdsapi
xgboost
eli5
	